@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    background: #f60032;
    height: 60px;
    border-bottom: 1.5px solid gray;
    z-index: 1000;
    box-shadow: 0 2px 6px 1px;
}

.navbar_nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
}

.nav_links {
    display: flex;
    justify-content: flex-end;

}


.logo {
    position: absolute;
    left: 1vw;
    top: 5px;
    height: 50px;
    margin: auto;
    cursor: pointer;
}

.nav_item {
    height: 48px;
    display: flex;
    align-items: center;
    margin: auto 15px auto 25px;
    position: relative;
}

.nav_item>a {
    border-bottom: darkblue;
    border-radius: 0px;
    display: block;
    font-size: 18px;
    color: #FFF;
    transition: all 0.125s ease;
}

.nav_item:hover>a {
    border-bottom: 2px solid #FFF;
    border-radius: 2px;
}

@media screen and (max-width: 800px) {
    .logo {
        position: inherit;
    }

    .navbar {
        height: max-content;
    }

    .navbar_nav {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .nav_links {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}