@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Raleway:ital@0;1&family=Ubuntu:wght@400;500&display=swap');


.productPage {
    font-family: "Raleway", serif;
    font-weight: 600;
    font-style: normal;
    background: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

.wrapper {
    margin: 1rem;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 18rem));
    justify-content: center;
}

.filter_div {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 2rem;
}

.filter_input_text {
    margin-right: 1px;
    border-radius: 3px;
    width: 100%;
    max-width: 25rem;
    box-shadow: 2px 2px 3px #999;
    font-family: "Raleway", serif;
    font-weight: 600;
    font-style: normal;

}

.filter_select {
    border-radius: 5px;
    box-shadow: 2px 2px 3px #999;
    color: black;
    width: 100%;
    max-width: 9rem;


}


.option {
    font-family: "Raleway", serif;
    font-weight: 600;
    font-style: normal;
}

@media screen and (max-width: 935px) {
    .filter_input_text {
        max-width: 20rem;
    }

    .filter_select {
        max-width: 7rem;
    }
}

@media screen and (max-width: 660px) {
    .wrapper {
        grid-template-columns: 1fr;

    }
}

@media screen and (max-width: 475px) {
    .filter_input_text {
        max-width: 14rem;
    }


}

@media screen and (max-width: 440px) {
    .filter_input_text {
        max-width: 12rem;
    }


}